# Python cache files
__pycache__
*.pyc
*.pyo

# Virtual environments
env/
venv/

# Local configuration files
.env

# Log files
*.log

# Git files
.git
.gitignore

# Optional: Any other files/folders not needed in your Docker image
